<!--
Full name: Ariel Chau
Student Id: 301151530
Course Name: COMP 229 WEB Development
File name: PERSONAL-PORTAFOLIO2
WEB APP NAME:https://comp229-008-301151530portfolio.herokuapp.com/
Midterm lab Assignment
*/-->
    <script src="/Scripts/app.js"></script>
<footer>
    <hr>
    <p>&copy; Copyright - COMP 229 - Fall Semester 2022 - Ariel Chau - Centennial College</p>
  </footer>
</body>
</html> 